#table {
    display: grid;
    grid-template-columns: repeat(9, 1fr);   
    border: 2px black solid;
    max-width: 500px;
    width: 100%; 
    margin: auto;
}

.cell{
    text-align: center;
    /* text- */

    aspect-ratio: 1;
    font-size: 1.5rem;
    border: 1px rgb(110, 117, 120) solid;
    background-color: rgb(229, 246, 255);
    box-sizing: border-box;
    width: 100%; 
    min-width: 0px;   
    padding: 0;
}

.border-R
{
    border-right: 2px black solid;
}

.border-B
{
    border-bottom: 2px black solid;
}

body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 10%;
    background-color: rgb(240, 250, 255);
}

.tip{
    background-color: rgb(198, 220, 231);
}

.wrong{
    background-color: rgb(241, 211, 211);
    color: rgb(212, 17, 17);
}

.container{
    display: flex; 
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#win-alert{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 5px 0px;
    padding: 0px;
    text-align: center;
}

body.win{
    background-color: rgb(235, 249, 235);
    color: rgb(17, 212, 23);
}

body.win .cell{
    background-color: rgb(211, 241, 211);
    color: rgb(17, 212, 23);
}

#timer
{
    text-align: right;
    margin: 0px;
    margin-bottom: .4rem;
    font-weight: 400;
}

#cute-fox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh;
    object-fit: cover; 
    z-index: 9999; 
}

